*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
video {
    width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color:rgb(216, 11, 11);
    font-size: 1.5rem;
    text-align: center;
}
.nav-button{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color:rgb(14, 4, 4);
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: right;
}
button{
background-color:#fff;
    font -color :#fff;
}
h1 center span {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    font-size: 60px;
}
